
<section>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6">
                <h2 class="text-center">Edit Products</h2>
                <form action="/admin/edit-products/{{products._id}}" method="POST" enctype="multipart/form-data">

                    <label for="name">Name</label>
                    <input type="text" name="name" class="form-control" value="{{products.name}}">

                    <label for="category">Category</label>
                    <input type="text" name="category" class="form-control" value="{{products.category}}">

                    <label for="price">Price</label>
                    <input type="text" name="price" class="form-control" value="{{products.price}}">

                    <label for="category">discription</label>
                    <input type="text" name="discription" class="form-control" value="{{products.discription}}">

                    <label for="image">Image</label>
                    <img src="/product-images/{{products._id}}.jpg" alt="" style="width:100px;height:auto" id="imgView">
                    <input type="file" name="image" class="form-control"  onchange="viewImage(event)">

                    <button type="submit" class="btn btn-success mt-4">Submit</button>

                </form>
            </div>
        </div>
    </div>
</section>

<script>
    function viewImage(){
        document.getElementById('imgView').src=URL.createObjectURL(event.target.files[0])
    }
</script>