<section>
      
        
        <div class="container mt-5">
            <div class="row">
                {{#each products}}
          <div class="col-md-3">
            <div class="card" style="width: 15rem;height:25rem">
              <img src="/product-images/{{this._id}}.jpg" class="card-img-top"
               alt="card image cap"
               style="height:15 rem;" >
              <div class="card-body">
                <h5 class="card-title">{{this.name}}</h5>
                <p class="card-text">{{this.discription}}</p>
                {{!-- <a href="/add-to-cart/{{this._id}}" class="btn btn-primary">ADD To Cart</a> --}}
                {{!-- <button onclick="/add-to-cart/{{this._id}}" class="btn btn-danger">Add to Cart</button> --}}
             <button onclick="addToCart('{{this._id}}')" class="btn btn-danger">Add to Cartss</button>

              </div>
            </div>
          </div>
           {{/each}}
        </div>
       
      </div>
    </section>

